absl-py==2.1.0
access==1.1.9
affine==2.4.0
aiobotocore==2.5.4
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioitertools==0.12.0
aiosignal==1.3.1
anndata==0.11.3
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_api_compat==1.8
arrow==1.3.0
asciitree==0.3.3
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bin2cell==0.3.1
biothings_client==0.4.1
bleach==6.1.0
botocore==1.31.17
braceexpand==0.1.7
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
colorama==0.4.6
colorcet==3.1.0
comm==0.2.2
commot==0.0.3
ConfigArgParse==1.7
contextlib2==21.6.0
contourpy==1.2.1
cramjam==2.8.4
csbdeep==0.8.1
cycler==0.12.1
dask==2024.8.2
dask-expr==1.1.13
dask-image==2024.5.3
datasets==3.6.0
datashader==0.18.1
debugpy==1.8.5
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.8
distributed==2024.8.2
docrep==0.3.2
einops==0.8.0
esda==2.7.0
etils==1.7.0
exceptiongroup==1.2.2
executing==2.0.1
fasteners==0.19
fastjsonschema==2.20.0
fastparquet==2024.11.0
filelock==3.15.4
fiona==1.9.6
flax==0.9.0
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.6.0
gensim==4.3.3
geopandas==1.1.0
giddy==2.3.5
gprofiler-official==1.0.0
gseapy==1.1.9
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.6
humanize==4.10.0
idna==3.8
igraph==0.11.8
imagecodecs==2024.9.22
imageio==2.35.1
importlib_metadata==8.4.0
importlib_resources==6.4.4
inequality==1.0.1
inflect==7.3.1
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
isoduration==20.11.0
jax==0.4.31
jaxlib==0.4.31
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
karateclub==1.2.2
kiwisolver==1.4.5
lazy_loader==0.4
legacy-api-wrap==1.4
leidenalg==0.10.2
Levenshtein==0.27.1
libpysal==4.13.0
lightning==2.1.4
lightning-utilities==0.11.6
llvmlite==0.43.0
locket==1.0.0
loompy==3.0.7
mapclassify==2.9.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
matplotlib-scalebar==0.8.1
mdurl==0.1.2
memory-profiler==0.61.0
mgwr==2.2.1
mistune==3.0.2
ml-dtypes==0.4.0
ml_collections==0.1.1
momepy==0.10.0
more-itertools==10.4.0
mpmath==1.3.0
msgpack==1.0.8
mudata==0.3.1
multidict==6.0.5
multipledispatch==1.0.0
multiprocess==0.70.16
multiscale_spatial_image==2.0.2
mygene==3.2.2
NaiveDE==1.2.0
narwhals==1.29.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numcodecs==0.13.0
numpy==1.26.4
numpy-groupies==0.11.2
numpyro==0.15.2
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
ome-zarr==0.9.0
omnipath==1.0.8
opencv-python==4.8.0.76
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
optax==0.2.3
orbax-checkpoint==0.6.1
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
param==2.1.1
parso==0.8.4
partd==1.4.2
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
PIMS==0.7
platformdirs==4.2.2
plotly==6.0.0
pointpats==2.5.1
pooch==1.8.2
POT==0.9.5
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==5.27.3
psutil==6.0.0
ptyprocess==0.7.0
PuLP==2.9.0
pure_eval==0.2.3
pyarrow==17.0.0
pycparser==2.22
pyct==0.5.0
Pygments==2.18.0
PyGSP==0.5.1
pynndescent==0.5.13
pyogrio==0.9.0
pyparsing==3.1.2
pyproj==3.6.1
pyro-api==0.1.2
pyro-ppl==1.9.1
pysal==24.7
python-dateutil==2.9.0.post0
python-igraph==0.11.8
python-json-logger==2.0.7
python-Levenshtein==0.27.1
python-louvain==0.16
pytorch-lightning==2.0.8
pytz==2024.1
pywinpty==2.0.13
PyYAML==6.0.2
pyzmq==26.2.0
qtconsole==5.5.2
QtPy==2.4.1
quantecon==0.7.2
RapidFuzz==3.12.2
rasterio==1.3.10
rasterstats==0.19.0
ray==2.34.0
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.0
rpds-py==0.20.0
Rtree==1.3.0
s3fs==2023.6.0
safetensors==0.4.4
scanpy==1.11.1
scikit-image==0.24.0
scikit-learn==1.5.1
scikit-misc==0.5.1
scipy==1.13.1
scprep==1.1.0
scvi-tools==1.1.6
seaborn==0.13.2
segregation==2.5
Send2Trash==1.8.3
session-info2==0.1.2
session_info==1.0.0
setuptools==78.1.1
shapely==2.0.6
simplejson==3.19.3
six==1.16.0
slicerator==1.1.0
smart-open==7.1.0
sniffio==1.3.1
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.6
spaghetti==1.7.6
spatial_image==1.1.0
spatialdata==0.4.0
SpatialDE==1.1.3
spglm==1.1.0
spint==1.0.7
splot==1.1.6
spopt==0.6.1
spreg==1.6.1
spvcm==0.3.0
squidpy==1.6.5
stack-data==0.6.3
stardist==0.9.1
statsmodels==0.14.2
stdlib-list==0.10.0
sympy==1.13.2
tangram-sc==1.0.4
tblib==3.0.0
tensorboardX==2.6.2.2
tensorstore==0.1.64
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.5.0
tifffile==2024.8.30
timm==0.9.8
tinycss2==1.3.0
tobler==0.11.3
tokenizers==0.19.1
tomli==2.0.1
toolz==0.12.1
torch==2.4.0+cu118
torch-geometric==2.6.1
torchaudio==2.4.0+cu118
torchmetrics==1.4.1
torchvision==0.19.0+cu118
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.2
triton==3.0.0
typeguard==4.3.0
types-python-dateutil==2.9.0.20240821
typing_extensions==4.12.2
tzdata==2024.1
umap-learn==0.5.5
uri-template==1.3.0
urllib3==1.26.20
validators==0.33.0
wcwidth==0.2.13
webcolors==24.8.0
webdataset==0.2.100
webencodings==0.5.1
websocket-client==1.8.0
wget==3.2
wheel==0.45.1
widgetsnbextension==4.0.13
wrapt==1.16.0
xarray==2024.11.0
xarray-dataclasses==1.8.0
xarray-datatree==0.0.14
xarray-schema==0.0.3
xarray-spatial==0.4.0
xlwt==1.3.0
xxhash==3.5.0
yarl==1.9.7
zarr==2.18.2
zict==3.0.0
zipp==3.20.1
